#mainContent {
    padding: 10px;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.yokai {
    position: absolute;
}

#robonyan {
    margin-left: 100px;
    margin-top: 15px;
    animation: myAnimation 2s infinite;
}

/*Here is where we define the keyframes ruleset we passed as the first argument to our animation property */
@keyframes myAnimation {
    0% {
        transform: translate3d(50px, 40px, 0);
        animation-timing-function: ease-in;
    }

    /*
        The percentages here represent the completion of our animation, since the duration is 2s
        then at 50% complete, 1s of animation has elapsed and the 50% rule is invoked
    */
    50% {
        transform: translate3d(50px, 50px, 0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translate3d(50px, 40px, 0)
    }
}
